name: Auto Approve

on:
  pull_request:
    types:
      - opened
      - synchronize
  pull_request_review:
    types:
      - dismissed
  check_run:
    types:
      - completed

permissions:
  contents: read

jobs:
  auto-approve:
    name: Auto-approve
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - id: get-workflow-access-token
        name: Get Workflow Access Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.APPLICATION_ID }}
          private-key: ${{ secrets.APPLICATION_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
          token: ${{ steps.get-workflow-access-token.outputs.token }}

      # - name: Auto-approve PR
      #   uses: ./
      #   with:
      #     github-token: ${{ steps.get-workflow-access-token.outputs.token }}
      #     config-path: .github/auto-approve.yml
